/*Reset global*/
* {
    border: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
}

html {
    font-size: 62.5%;
}

/* main {
    background-color: #000;
} */

/*
.areadejuego {
    background-color: rgb(66, 14, 14);
    border-color: rgb(251, 255, 0);
    border: 0.5rem;
    width: 50rem;
    height: 50rem;
}*/